.menuItem:hover {
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  background: var(--grey-dark);
}
.menuItem:hover .menuItemSvg {
  fill: var(--g-plus-light);
}
.deleteBookingBtn {
  width: 20%;
  height: 50px;
}
.forDesktop {
  display: none;
}
.forMobile {
  display: block;
}
@media screen and (min-width: 62rem) {
  .deleteBookingBtn {
    width: 10%;
    margin-left: 5% !important;
  }
  .forDesktop {
    display: block;
  }
  .forMobile {
    display: none;
  }
}
