.button {
  transform: translateX(-55px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  height: 38px;
  width: 66px;
  background: linear-gradient(175deg, #e1e4e7 28%, #92979b 100%);
  cursor: pointer;
  transition-property: transform;
  transition-timing-function: ease-in;
  transition-duration: 0.6s;
}
.circle {
  height: 30px;
  width: 27px;
  margin: 2px;
}
.left {
  border-radius: 60px 66px 66px 60px;
  box-shadow: inset 0px 0px 1px #cbd0d4;
  background: linear-gradient(290deg, #e1e4e7 43%, #92979b 190%);
}
.right {
  border-radius: 66px 60px 60px 66px;
  box-shadow: inset 0px 0px 1px #cbd0d4;
  background: linear-gradient(280deg, #e1e4e7 10%, #92979b 115%);
}
.outer-lane {
  background-color: #fff;

  display: flex;
  align-items: center;
  padding: 5px;
  height: 46px;
  width: 132px;
  border-radius: 50px;
  box-shadow: inset -2px -4px 4px #e8ebed, inset 2px 4px 4px #b6bdc2;
  position: relative;
}
.inner-lane {
  position: absolute;
  width: 56px;
  height: 26px;
}

.white {
  border-radius: 0px 50px 50px 0px;
  right: 10px;
  /* z-index: -1; */
  box-shadow: inset 0px 0px 1px 1px #620404, inset 0px 0px 4px 0px #620404,
    inset 7px 9px 10px #f13737, inset -6px -11px 14px #a92914;
  filter: brightness(1);
}
.orange {
  background: linear-gradient(
    0deg,
    rgba(0, 198, 7, 1) 25%,
    rgba(0, 226, 34, 1) 50%,
    rgba(0, 255, 8, 1) 75%
  );
  border-radius: 50px 0px 0px 50px;
  /* z-index: -1; */
  left: 10px;
  box-shadow: inset 2px 1px 1px #26a510, inset 1px 1px 4px #26a510,
    inset 0px 5px 6px #71ff84, inset 0px -4px 6px #00e23c;
  filter: brightness(0.8);
  transition-timing-function: ease-in;
  transition-duration: 0.6s;
}

.button.active {
  transform: translateX(0px);
  transition-timing-function: ease-in;
  transition-duration: 0.6s;
}
.white.off {
  filter: brightness(0.8);
  transition-timing-function: ease-in;
  transition-duration: 0.6s;
}
.orange.on {
  filter: brightness(1.1);
  transition-timing-function: ease-in;
  transition-duration: 0.6s;
}
